<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "Goelo.eu" %></title>

    <%= stylesheet_link_tag :site %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab">

    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <hr style="display:none">

    <footer class="dark-screen">
      <p>
        <a href="/en/about.html">About</a>
        |
        <a href="/en/data.html">Data</a>
        |
        <a id="contact" href="mailto:contact@">Contact</a>
      </p>
      <p>
        License <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>,
        Version <a href="https://github.com/vinc/goelo.eu/">0.0.1</a>
      </p>
    </footer>
    <script>
      var e = document.getElementById("contact");
      e.setAttribute("href", e.getAttribute("href") + document.domain);
    </script>
  </body>
</html>
